open3d/python/utils/__pycache__/
./vscode
open3d/python/carline/__pycache__/
open3d/python/yoloapi/__pycache__/
open3d/python/perceptionMagic/yoloapi/*.pyc
open3d/python/perceptionMagic/yoloapi/__pycache__/
open3d/python/perceptionMagic/utils/*.pyc
open3d/python/perceptionMagic/carline/__pycache__/
open3d/python/perceptionMagic/carline/*.pyc
open3d/python/perceptionMagic/publisher/__pycache__/
open3d/python/perceptionMagic/utils/__pycache__/
*.pcd
*.ply
*/devel/*
*/build/*

